[Unit]
Description=aggietimed
Wants=display.target

[Service]
Environment=DISPLAY=:0
Type=simple
ExecStart=/home/lizzy/.asdf/shims/aggietimed -d -s /tmp/aggietimed.sock
Restart=always

[Install]
WantedBy=default.target
