[Unit]
Description=xremap on startup as user

[Service]
Type=oneshot
ExecStart=/usr/bin/xremap /home/lizzy/.config/xremap/config.yml

[Install]
WantedBy=default.target
