[submodule ".stumpwm.d/modules"]
	path = .stumpwm.d/modules
	url = https://github.com/stumpwm/stumpwm-contrib
[submodule "zsh-stuff/spaceship-prompt"]
	path = zsh-stuff/spaceship-prompt
	url = https://github.com/spaceship-prompt/spaceship-prompt.git
[submodule "spaceship"]
	path = zsh-stuff/spaceship-prompt
	url = https://github.com/spaceship-prompt/spaceship-prompt.git
[submodule "stumpwm-modules"]
	path = .stumpwm.d/modules
	url = https://github.com/stumpwm/stumpwm-contrib
