*
!.gitignore
!.gitmodules

!.xinitrc
!.xmodmap

!scripts
!scripts/**

!quicklisp.lisp

!.vimrc

!.zshrc
!.spaceshiprc.zsh
!ascii-arts
!ascii-arts/*
!zsh-stuff
!zsh-stuff/*

!src
!src/pikaur
!src/pikaur/*

!.config
!.config/picom
!.config/picom/*

!.config/alacritty
!.config/alacritty/*

!.config/dunst
!.config/dunst/*

!.config/waybar
!.config/waybar/*

!.config/sway
!.config/sway/*

!.config/xremap
!.config/xremap/*

!.config/systemd
!.config/systemd/*

!.config/spotifyd
!.config/spotifyd/*

!.emacs.d
!.emacs.d/settings.org

!.stumpwm.d
!.stumpwm.d/*

!NOTES.md

!Wallpapers
!Wallpapers/*

**/__pycache__
